global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: DEBUG

api:
  dashboard: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
  web4000:
    address: :4000
    http:
      redirections:
        entryPoint:
          to: web4000
          scheme: https
certificatesResolvers:
  le:
    acme:
      email: "info@mekomsolutions.com"
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

metrics:
  prometheus:
    entryPoint: "websecure"

providers:
  docker:
    network: web
    exposedByDefault: false
