services:
  postgresql:
    env_file:
      - '../../distro/configs/openfn/openfn.env'
    stop_grace_period: '3s'
    volumes:
      - "${SQL_SCRIPTS_PATH}/postgresql/create_openfn_db.sh:/docker-entrypoint-initdb.d/create_openfn_db.sh"
      
  migrations:
    platform: linux/x86_64/v8
    image: 'openfn/lightning:latest'
    command: ["/app/bin/lightning", "eval", "Lightning.Release.migrate"]
    env_file:
      - '../../distro/configs/openfn/openfn.env'
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      - ozone

  web:
    platform: linux/x86_64/v8
    image: 'openfn/lightning:latest'
    command: ["/app/bin/server"]
    deploy:
      resources:
        limits:
          cpus: '${DOCKER_WEB_CPUS:-0}'
          memory: '${DOCKER_WEB_MEMORY:-0}'
    env_file:
      - '../../distro/configs/openfn/openfn.env'
    depends_on:
      migrations:
        condition: service_completed_successfully
      postgresql: 
        condition: service_started

    healthcheck:
      test: '${DOCKER_WEB_HEALTHCHECK_TEST:-curl localhost:4000/health_check}'
      interval: '10s'
      timeout: '3s'
      start_period: '5s'
      retries: 3
    ports:
      - '${LIGHTNING_EXTERNAL_PORT:-${PORT:-4000}}:${URL_PORT:-4000}'
    networks:
      - ozone

  worker:
    platform: linux/x86_64/v8
    image: 'openfn/ws-worker:latest'
    deploy:
      resources:
        limits:
          cpus: '${DOCKER_WORKER_CPUS:-0}'
          memory: '${DOCKER_WEB_MEMORY:-0}'
    depends_on:
      web:
        condition: service_healthy
        restart: true
    env_file:
      - '../../distro/configs/openfn/openfn.env'
    command:
      ['pnpm', 'start:prod', '-l', 'ws://web:${URL_PORT:-4000}/worker']
    restart: '${DOCKER_RESTART_POLICY:-unless-stopped}'
    stop_grace_period: '3s'
    expose:
      - '2222'
    networks:
      - ozone
