networks:
  web:
    external: true

services:
  traefik:
    image: traefik:v3.5
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "4000:4000"
    networks:
      - web
    environment:
      # - TRAEFIK_API_URL=${TRAEFIK_API_URL}
      - TRAEFIK_ADMIN_USER=${TRAEFIK_ADMIN_USER}
      - TRAEFIK_ADMIN_PASSWORD=${TRAEFIK_ADMIN_PASSWORD}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - './config/traefik.yml:/etc/traefik/traefik.yml'
      - './config/tls.yml:/etc/traefik/tls.yml'
      - ${LETS_ENCRYPT_CERT_PATH:-./letsencrypt}:/letsencrypt
      - certs:/etc/ssl/traefik
    labels:
      traefik.enable: "true"
      traefik.http.routers.traefik.rule: "Host(`${TRAEFIK_LIME_DOMAIN_NAME}`) && PathPrefix(`/traefik`)"
      traefik.http.routers.traefik.entrypoints: "websecure"
      traefik.http.routers.traefik.service: "api@internal"
      traefik.http.routers.traefik.middlewares: "auth"
      traefik.http.middlewares.auth.basicauth.users: "${TRAEFIK_ADMIN_USER}:${TRAEFIK_ADMIN_PASSWORD}"
      # Add TLS configuration for this specific router
      traefik.http.routers.traefik.tls: "true"
      traefik.http.routers.traefik.tls.certresolver: "le"
      traefik.http.routers.traefik.tls.domains: "api.traefik.me"

volumes:
  certs: