name: Build, validate configuration and deploy

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [main, dev]
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          java: [ '8' ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Set settings.xml
        uses: s4u/maven-settings-action@v3.0.0
        with:
          servers: |
            [{
              "id": "msf-ocg-github-lime-emr",
              "username": "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_USERNAME }}",
              "password": "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_TOKEN }}"
            }]
  
      - name: Build and Test
        run: mvn --batch-mode --update-snapshots --activate-profiles validator clean package

  release:
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'release' }}    
    runs-on: ubuntu-latest 
    needs: build
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Set settings.xml
        uses: s4u/maven-settings-action@v3.0.0
        with:
          servers: |
            [{
              "id": "msf-ocg-github-lime-emr",
              "username": "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_USERNAME }}",
              "password": "${{ secrets.MAVEN_GITHUB_ACTIONS_DEPLOY_TOKEN }}"
            }]

      - name: Publish maven artifacts
        run: 'mvn --batch-mode clean deploy'

      - name: Upload MSF distro artifacts to GitHub
        uses: ./.github/actions/upload-maven-artifacts
        with:
          artifact-name: "distro"
          artifact-path: "${{ github.workspace }}/distro"

      - name: Upload MSF Iraq artifacts to GitHub
        uses: ./.github/actions/upload-maven-artifacts
        with:
          artifact-name: "Iraq"
          artifact-path: "${{ github.workspace }}/countries/iraq"

      - name: Upload MSF Mosul to artifacts GitHub
        uses: ./.github/actions/upload-maven-artifacts
        with:
          artifact-name: "Mosul"
          artifact-path: "${{ github.workspace }}/sites/mosul"
