name: Publish artifact(s) to the Mekom Nexus Repository

on:
  workflow_call:
    inputs:
      java-version:
        description: 'Java version to use for publishing'
        required: false
        type: string
        default: '17'
      java-distribution:
        description: 'Java distribution to use for publishing'
        required: false
        type: string
        default: 'temurin'
      maven-args:
        description: 'Additional arguments to pass to maven'
        required: false
        type: string
        default: '-DskipTests=true'
      upload-artifacts:
        description: 'Whether to upload build artifacts or not'
        required: false
        type: boolean
        default: false
      artifact-path:
        description: 'Path to the artifact(s) to upload'
        required: false
        type: string
        default: ''
      artifact-name:
        description: 'Name of the artifact(s) to upload'
        required: false
        type: string
        default: 'artifact'
      free-disk-space:
        description: 'Whether to free disk space before running the build'
        required: false
        type: boolean
        default: false
    secrets:
      NEXUS_USERNAME:
        required: true
      NEXUS_PASSWORD:
        required: true
      DOCKER_HUB_USERNAME:
        required: false
      DOCKER_HUB_PASSWORD:
        required: false
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ inputs.free-disk-space }}
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ inputs.java-version }}
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.java-distribution }}
          cache: 'maven'

      - name: Verify Java installation
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        run: |
          echo "JAVA_HOME: $JAVA_HOME"
          java -version
          javac -version

      - name: Set settings.xml
        uses: s4u/maven-settings-action@v3.0.0
        with:
          servers: |
            [{
              "id": "msf-ocg-github-lime-emr",
              "username": "${{ secrets.NEXUS_USERNAME }}",
              "password": "${{ secrets.NEXUS_PASSWORD }}"
            },
            {
              "id": "docker.io",
              "username": "${{ secrets.DOCKER_HUB_USERNAME || 'username'}}",
              "password": "${{ secrets.DOCKER_HUB_PASSWORD || 'password'}}"
            }]

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Additional disk space cleanup
        env:
          BUILDX_BUILDER: default
        run: |
          sudo docker image prune -a -f
          sudo docker builder prune -a -f
          sudo docker system prune -a -f
          sudo apt-get clean
          sudo apt-get autoclean
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
          sudo rm -rf /usr/local/graalvm /opt/hostedtoolcache
          df -h

      - name: Publish maven artifacts
        env:
          JAVA_HOME: ${{ steps.setup-java.outputs.path }}
        run: 'mvn --batch-mode --no-transfer-progress clean deploy ${{ inputs.maven-args }}'

      - name: Upload artifacts to GitHub
        if: ${{ inputs.upload-artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}
          overwrite: true
