name: Build with Maven

on:
  workflow_call:
    inputs:
      java-version:
        description: 'Java version to use for building'
        required: false
        type: string
        default: '17'
      java-distribution:
        description: 'Java distribution to use for building'
        required: false
        type: string
        default: 'temurin'
      maven-args:
        description: 'Additional arguments to pass to maven'
        required: false
        type: string
        default: ''
      use-secrets:
        description: 'Whether to use secrets or not'
        required: false
        type: boolean
        default: false
      maven-phase:
        description: 'Maven phase to run'
        required: false
        type: string
        default: 'verify'
      login-docker:
        description: 'Whether to log into the private docker hub'
        required: false
        type: boolean
        default: false
      free-disk-space:
        description: 'Whether to free disk space before running the build'
        required: false
        type: boolean
        default: false

    secrets:
      NEXUS_USERNAME:
        required: true
      NEXUS_PASSWORD:
        required: true
      DOCKER_HUB_USERNAME:
        required: false
      DOCKER_HUB_PASSWORD:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ inputs.free-disk-space }}
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - uses: actions/checkout@v4
      
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.java-distribution }}
          cache: 'maven'

      - name: Set settings.xml
        if: ${{ inputs.use-secrets }}
        uses: s4u/maven-settings-action@v3.0.0
        with:
          servers: |
            [{
              "id": "msf-ocg-github-lime-emr",
              "username": "${{ secrets.NEXUS_USERNAME }}",
              "password": "${{ secrets.NEXUS_PASSWORD }}"
            }]

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: ${{ inputs.login-docker }}
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      
      - name: Build with Maven
        run: 'mvn --batch-mode --no-transfer-progress --update-snapshots clean ${{ inputs.maven-phase }} ${{ inputs.maven-args }}'
